<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
  <div class="container-contact100">
    <span class="contact100-title">
      ACI Mobile API App
    </span>
    <div class="wrap-contact100">
      <div>
        <div>
          <span class="contact100-form-title">
            Make Payment
          </span>
<form name="form" method="post" action="/" class="contact100-form">
    <div class="wrap-input100">
    <input class="input100" name="amount" placeholder=" Amount e.g 500">
  </div>
    <div class="wrap-input100">
    <input class="input100" name="currency" placeholder="Currency e.g EUR">
  </div>
  <div class="wrap-input100">
    <input class="input100" name="paymentBrand" placeholder="Payment Brand e.g VISA">
  </div>
    <div class="wrap-input100">
    <input class="input100" name="cardNumber" placeholder="Card Number e.g 4200000000000000">
  </div>
  <div class="wrap-input100">
    <input class="input100" name="cardHolder" placeholder="Card Holder e.g Jane">
  </div>
    <div class="wrap-input100">
    <input class="input100" name="expiryMonth" placeholder="Card Expiry Month e.g 05">
  </div>
  <div class="wrap-input100">
    <input class="input100" name="expiryYear" placeholder="Card Expiry Year e.g 2020">
  </div>
    <div class="wrap-input100">
    <input class="input100" name="cvv" placeholder="CVV e.g 123">
  </div>
  <div class="container-contact100-form-btn">
    <button type="submit" class="contact100-form-btn">
      <span>
        Make Payment
        <i class="zmdi zmdi-arrow-right m-l-8"></i>
      </span>
    </button>
  </div>
</form>
</div>


</div>



</div>
</div>


<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
